<main class="hr-wrap">
<div class="container-fluid">
  <div class="row">
<div class="  nopadding">
    <div class=" bg-dark">

    <div class="row rowhead-text1">
      <div class="col-md-6">
<h4>Basics of Bus Development</h4>
      </div>


        <div class="col-md-6">
       <div class="pagination"> <p><span class="arrow-imgs"><img src="assets/images/double-arrow-left.png"></span><span class="num-pagi">15/50</span>
         <span class="arrow-imgs"><img src="assets/images/double-arrow-right.png"></span></p>&nbsp;&nbsp;&nbsp;
         <p class="timevalue"> Time Left:&nbsp;<span>5:00</span></p></div>



      </div>
    </div>

    </div>
  <br>

 <div class="row rowhead-text2">
 <div class="col-md-8" style="    border-right: 1px solid #BCBCBC;">

 <div class="row">
 <p class="ques-head">Question 1 :</p>
   </div>
   <div class="row ">
     <br>
     <div class="col-sm-4 nopadding">
 <div class="col-sm-3" style="padding:0">a)</div> <div class="col-sm-9"  style="padding:0"><img src="assets/images/truck2-daim.jpg" class="bus-img1">
 </div>

     </div>
     <div class="col-sm-4">
         <div class="col-sm-3"  style="padding:0">b)</div> <div class="col-sm-9"  style="padding:0"><img src="assets/images/bus-daim.jpg" class="bus-img1">
         </div>
       </div>
       <div class="col-sm-4">

         </div>
   </div>

   <div class="row">
     <br>
     <p class="text-para pt-4">which one is a travel bus ?</p>
   </div>
   <div class="row">
    <span>
       <input type="radio" name="radio" id="radio1" > <label for="radio1" style="cursor: pointer;">A</label>
       </span> &nbsp;&nbsp;&nbsp;
       <span>
       <input type="radio" name="radio" id="radio2"> <label for="radio2" style="cursor: pointer;">B</label>
  </span>
   </div>
   <div class="row">
     <br>
     <div class="col-sm-12 nopadding">
 <button type="button" class="btn btn-primary btn-sm btn-submit" > Confirm &nbsp;&nbsp;&nbsp; <img src="assets/images/tick-check.png" style="    padding-bottom: 5px;"></button>
     </div>

   </div>
   <div class="row">
     <br><br>
     <div class=" callout bottom" > <p class="ques-head" >Detailed Explanation About Topic</p>
     <p style="color:#898989">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
       minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
     <p class="ques-head pull-right pointer"(click)="confrimmodal()" >Learn More.</p>
   </div>
   </div>
   <div class="row">
     <div class="col-sm-2">  <img src="assets/images/man.png" style="    width: 35%;"></div>
     <div class="col-sm-10-"></div>

   </div>
   </div>
   <div class="col-md-4" style="padding-top:15%">
    <div class="row">
     <div class="col-sm-2"></div>
     <div class="col-sm-8" style="padding:0">
 <div class="row pb-5 pt-5" style="padding:0">
   <div class="col-sm-1">

   </div>
   <div class="col-2 col-md-2 col-sm-2">
     <div class="numbox">1</div>
   </div>
   <div class="col-2 col-md-2 col-sm-2">
       <div class="numbox">2</div>
   </div>
   <div class="col-2 col-md-2 col-sm-2">
       <div class="numbox">3</div>
   </div>
   <div class=" col-2 col-md-2 col-sm-2">
       <div class="numbox">4</div>
   </div>
   <div class="col-2 col-md-2 col-sm-2">
       <div class="numbox">5</div>
   </div>
   <div class="col-sm-1"></div>
 </div>
 <div class="row pb-5 pt-5" style="padding:0">
   <br>
     <div class="col-sm-1">

     </div>
     <div class="col-2 col-md-2 col-sm-2">
       <div class="numbox">6</div>
     </div>
     <div class="col-2 col-md-2 col-sm-2">
         <div class="numbox">7</div>
     </div>
     <div class="col-2 col-md-2 col-sm-2">
         <div class="numbox1">8</div>
     </div>
     <div class="col-2 col-md-2 col-sm-2">
         <div class="numbox2">9</div>
     </div>
     <div class="col-2 col-md-2 col-sm-2">
         <div class="numbox2">10</div>
     </div>
     <div class="col-sm-1"></div>
   </div>
   <div class="row pb-5 pt-5" style="padding:0">
     <br>
       <div class="col-sm-1">

       </div>
       <div class="col-2 col-md-2 col-sm-2">
         <div class="numbox2">11</div>
       </div>
       <div class="col-2 col-md-2 col-sm-2">
           <div class="numbox3">12</div>
       </div>
       <div class="col-2 col-md-2 col-sm-2">
           <div class="numbox3">13</div>
       </div>
       <div class="col-2 col-md-2 col-sm-2">
           <div class="numbox3">14</div>
       </div>
       <div class="col-2 col-md-2 col-sm-2">
           <div class="numbox3">15</div>
       </div>
       <div class="col-sm-1"></div>
     </div>
     <div class="row pb-5 pt-5" style="padding:0">
         <br>
           <div class="col-sm-1">

           </div>
           <div class="col-2 col-md-2 col-sm-2">
             <div class="numbox3">16</div>
           </div>
           <div class="col-2 col-md-2 col-sm-2">
               <div class="numbox3">17</div>
           </div>
           <div class="col-2 col-md-2 col-sm-2">
               <div class="numbox3">18</div>
           </div>
           <div class="col-2 col-md-2 col-sm-2">
               <div class="numbox3">19</div>
           </div>
           <div class="col-2 col-md-2 col-sm-2">
               <div class="numbox3">20</div>
           </div>
           <div class="col-sm-1"></div>
         </div>
 </div>
 <div class="col-sm-2"></div>
   </div>
   </div>
 </div>
</div>
 </div>
</div>
 <div class="modal fade" id="confrimdetailmodal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content" style="border-radius:8px;">
        <div class="modal-header" style="border-bottom: 2px solid #D0D2D7;">
          <h5 class="modal-title" style="font-size: 19px;">Detailed Information </h5>
          <img class="close" src="assets/images/close.png" data-dismiss="modal">

        </div>
        <div class="modal-body scrollbar" style="    font-size: 14px; 
        color: #303030;
        font-family: roboto;overflow-y: auto">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
          et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
           deserunt mollit anim id est laborum.</p>
           <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
             et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
              ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
               in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.</p>
           <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                 nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                 deserunt mollit anim id est laborum.</p>
        </div>

      </div>
    </div>
  </div>
