<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="padding:0">
      <div class="site-menubar showmenu" id="sidemenu">
        <img src="assets/images/benzlogo.png" class="logobenzimg">
        <ul class="site-menu">
          <li class="site-menu-item ">
            <a class=" waves-effect waves-classic">
              <img src="assets/images/home-icon.png"><br>
              <span class="site-menu-title">Home</span>
            </a>
          </li>
          <li class="site-menu-item ">
            <a class=" waves-effect waves-classic">
              <img src="assets/images/open-book.png"><br>
              <span class="site-menu-title">Assessments</span>
            </a>
          </li>
          <ul class="site-menu sidebar-bottom">
            <li class="site-menu-item ">
              <a class=" waves-effect waves-classic" routerLink="../login">
                <i class="fa fa-power-off" style="color:#005D77;font-size: 1.7rem;"></i>
              </a>
            </li>
            <li class="site-menu-item ">
              <a class=" waves-effect waves-classic">
                <img src="assets/images/user -img.png" class="img-fluid">
              </a>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </div>
</div>
