<main class="hr-wrap">
  <div class="container-fluid">
    <!-- <div class="container"> -->
    <div class="row">
      <div class="col-md-11 col-xl-11 pages">
        <h2 class="text-assessmant pt-3 pb-3">Assessment</h2>
        <div class="row text-center">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/s516hdh-1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 1</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/17C499_001.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 2</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/setra-otobus-modelleri-2019 (11).jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 3</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/setra-topclass.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 4</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="padding-top: 5%;">
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/hampton-bus-1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 5</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/bus-daim.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 6</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/avb_09A186_small.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 7</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <div class="hrassessment-img">
              <div class="card" routerLink="../../dashboard/bus-develop">
                <img class="card-img-top" src="assets/images/2017-setra-s-531-dt.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-center">Assessment Name 8</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</main>
